@tailwind base;

@tailwind components;

@tailwind utilities;

input:not([type=radio]):not([type=checkbox]),
select,
textarea{
  @apply border;
  @apply rounded-full;
  @apply p-4;
  @apply px-8;
  @apply bg-white;
}
select{
  @apply appearance-none;
  @apply pr-8;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z'/%3E%3C/svg%3E") no-repeat calc(100% - 1.5rem) 50%;
  background-size: 1rem;
}
select:invalid{
  @apply text-gray-500;
}
option:not([disabled]){
  @apply text-gray-900;
}

.button--listen{
  outline: none !important;
  transition: all .6s ease;
}
.button--listen:active{
  box-shadow: 0 0 0 24px rgba(0, 92, 197, .3);
}
.error{
  @apply bg-red-700;
  @apply text-white;
}